@model Scheduler.Models.ViewModels.OrderVM
 
<div>
   <partial name="_EncounterDetails" model="Model.EncounterVM"/>
</div>

<div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h4 class="text-primary">Order Details</h4>
            <hr/>
        </div>
       <div class="mb-3 col-6">
            <label asp-for="Order.OrderCatalog.Name">Search Order</label>
            <input asp-for="Order.OrderCatalog.Name" class="form-control"/>
        </div>
         <div class="mb-3 col-6">
            <label asp-for="Order.OrderStatus.Name">Order Status</label>
            <input asp-for="Order.OrderStatus.Name" class="form-control"/> 
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Order.AdminRoute.Name">Admin Route</label>
            <input asp-for="Order.AdminRoute.Name" class="form-control"/>
        </div>
       <div class="mb-3 col-4">
            <label asp-for="Order.AdminFreq.Name">Admin Freq.</label>
            <input asp-for="Order.AdminFreq.Name" class="form-control"/>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Order.AdminTime.Name">Admin Freq.</label>
            <input asp-for="Order.AdminTime.Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Order.Narrative">Narrative</label>
            <textarea asp-for="Order.Narrative" rows="6" class="form-control"></textarea>
        </div>

        <div class="mb-3 col-2">
            <label asp-for="Order.IsActive">Active Order</label>
            <input asp-for="Order.IsActive" type="checkbox" data-val="true" onclick="return false"/>
        </div>

         <div class="col-12">
            <a asp-controller="Chart" asp-action="EncounterSchAppt" asp-route-enctrId="@Model.Order.EncounterId" class="btn btn-secondary" style="width:150px">
                Back to chart
            </a>
        </div>
</div>

@section Scripts{
    <script src="~/js/DisableFields.js">></script>
}
