@model Scheduler.Models.ViewModels.PatientVM
<div class="container p-3">
    <h4 class="text-primary">Encounters</h4>
    <table id ="tblEncounter" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>FIN</th>
                <th>Admit Dt/Tm</th>
                <th>DC Dt/Tm</th>
                <th>Appointment Type</th>
                <th>Appointment Status</th>
                <th>Deleted</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>