@{
    ViewData["Title"] = "Home Page";
}
<head>

  <!-- responsive-full-background-image.css stylesheet contains the code you want -->
  <link rel="stylesheet" href="/css/responsive-full-background-image.css">
  <!-- Not required: jquery.min.js and presentational-only.js is only used to demonstrate scrolling behavior of the viewport  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/presentational-only.js"></script>
  <style>
        #lowerleft{
            margin-bottom: 1px;
            margin-left : 1px;
            width: 400px;
            height: 200px;
            position: fixed;
            bottom: 0;
        }
  </style>

</head>


<body>
    <form>
        <div style="text-align:justify;">
            <div>
                <div id="more-content" style="position:absolute;top:40%;left:40%">
                     <h1>Clinic Appointment Scheduler and EMR demo</h1>
                     <br /><br />
                     <p style="text-indent:30px">The application is a fully functioning Electronic Medical Record System (EMR) demo,that includes patient registration, appointment calendar scheduling,</p>
                     <p>medical charting, diagnosis entry with type search using database stored ICD-10 diagnosis code bank, medical documentation, clinical orders, prescription,</p>
                     <p>allergy documentation, appointment dashboard for tracking appointments and managing appointments, access and roles management. The application also has </p>
                     <p>the functionality to manage system foundational settings and values such as, proivider appointment template builds with schedule blocks, clinic location builds,</p>
                     <p>medical insurance maintenance, clinical order builds, core builds for values that the application needs by default, and much more, to try the application, </p>
                     <p>please click "Demo website instructions" icon at the bottom right. The application was developed in C# .Net 6 with MS SQL as database.</p>
                    
                </div>
            </div>
        </div>
    </form>
    <div id="lowerleft">
        <a href="https://www.freepik.com/photos/medical">Medical photo created by freepik - www.freepik.com</a>
    </div>
</body>