@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        .bckimg{
            background-image:url('/jpg/health-still-life-with-copy-space.jpg');
            width:129.8%;
            height:170%;
            background-repeat: no-repeat;
            background-size:cover;
        }
        #lowerleft
        {
            margin-bottom: 1px;
            margin-left : 1px;
            width: 400px;
            height: 200px;
            position: fixed;
            bottom: 0;
        }
    </style>
</head>
<body>
    <form>
        <div style="height:720px; margin-left:-43%; text-align:justify;">
            <div class="bckimg">
                <div style="position:absolute;top:50%;left:50%; justify-content:space-evenly">
                     <h1>Clinic Appointment Scheduler and EMR demo</h1>
                     <br /><br />
                     <p style="text-indent:30px">The application is a fully functioning Electronic Medical Record System (EMR) demo,that includes patient registration, appointment calendar scheduling,</p>
                     <p>medical charting, diagnosis entry with type search using database stored ICD-10 diagnosis code bank, medical documentation, clinical orders, prescription,</p>
                     <p>allergy documentation, appointment dashboard for tracking appointments and managing appointments, access and roles management. The application also has </p>
                     <p>the functionality to manage system foundational settings and values such as, proivider appointment template builds with schedule blocks, clinic location builds,</p>
                     <p>medical insurance maintenance, clinical order builds, core builds for values that the application needs by default, and much more, to try the application, </p>
                     <p>please click "Demo website instructions" icon at the bottom right. The application was developed in C# .Net 6 with MS SQL as database.</p>
                    
                </div>
            </div>
        </div>
    </form>
    <div id="lowerleft">
        <a href="https://www.freepik.com/photos/medical">Medical photo created by freepik - www.freepik.com</a>
    </div>
</body>