html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: fixed;
    margin-top: 15px; 
    height: 3%;
    width: 100%;
    font-size: 0.8em;
    bottom: 0;
    text-align: center;
}

#tblData tbody tr:hover {
    background-color: skyblue;
    cursor: pointer;
}

#tblData tr:hover td.sorting_1 {
    background-color: skyblue;
    cursor: pointer;
}